body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.header {
    width: 100%;
    text-align: center;
    padding: 0;
    background-color: #e8dacf;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 150px; /* Высота хедера */
}

.header .logo {
    max-width: 100%;
    max-height: 100%;
    height: auto;
    transition: transform 0.3s ease;
    object-fit: contain; /* Обеспечивает корректное отображение логотипа */
}

.header .logo:hover {
    transform: scale(1.1);
}

.container {
    width: 90%;
    margin: auto;
    overflow: hidden;
    padding-top: 20px;
}

h1.main-title {
    font-size: 2em;
    text-align: center;
    margin-bottom: 20px;
    color: #ff6600;
}

.categories {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}

.category {
    background: #fff;
    border: 1px solid #ddd;
    padding: 15px;
    display: flex;
    align-items: center;
    text-align: left;
    transition: background 0.3s, box-shadow 0.3s;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.category:hover {
    background: #ffe6cc;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.category a {
    text-decoration: none;
    color: #333;
    display: flex;
    align-items: center;
    width: 100%;
}

.category img {
    max-width: 70px;
    height: auto;
    margin-right: 20px;
    border-radius: 8px;
}

.category h2 {
    font-size: 1.5em;
    margin: 0;
    flex-grow: 1;
}

.products {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

.product-card {
    background: #fff;
    border: 1px solid #ddd;
    padding: 15px;
    width: calc(33.333% - 20px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    transition: transform 0.3s, box-shadow 0.3s;
    text-align: center;
}

.product-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

.product-card a {
    text-decoration: none;
    color: inherit;
    display: block;
}

.product-card img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.product-info {
    margin-top: 10px;
}

.product-info h2 {
    font-size: 1.5em;
    margin: 10px 0;
}

.product-info .price {
    font-size: 1.2em;
    color: #ff6600;
    margin-top: 5px;
}

.product-detail {
    background: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    text-align: center;
    border-radius: 8px;
}

.product-detail img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
}

.product-detail h1 {
    font-size: 2em;
    margin: 10px 0;
}

.product-detail p {
    font-size: 1.2em;
    color: #333;
}

.back-button {
    display: inline-block;
    margin: 10px 0;
    padding: 10px 20px;
    background-color: #ff6600;
    text-decoration: none;
    color: #fff;
    border-radius: 8px;
    transition: background 0.3s;
}

.back-button:hover {
    background-color: #cc5200;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination .step-links {
    display: flex;
    gap: 10px;
}

.pagination a, .pagination span {
    padding: 5px 10px;
    border: 1px solid #ddd;
    text-decoration: none;
    color: #333;
    border-radius: 8px;
    transition: background 0.3s;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.pagination a:hover {
    background-color: #ff6600;
    color: #fff;
}

/* Мобильные стили */
@media (max-width: 768px) {
    .container {
        width: 95%;
    }

    .categories {
        flex-direction: column;
    }

    .category {
        flex-direction: row;
        justify-content: space-between;
        padding: 10px;
    }

    .category img {
        max-width: 60px;
        height: auto;
        margin-right: 10px;
    }

    .category h2 {
        font-size: 1.2em;
    }

    .products {
        flex-direction: column;
    }

    .product-card {
        width: 100%;
    }

    .product-card img {
        max-width: 150px;
        height: auto;
    }

    .product-info h2 {
        font-size: 1.2em;
    }

    .product-info .price {
        font-size: 1em;
    }
}

@media (max-width: 480px) {
    .container {
        width: 95%;
    }

    .category {
        flex-direction: row;
        justify-content: space-between;
        padding: 10px;
    }

    .category img {
        max-width: 50px;
        height: auto;
        margin-right: 10px;
    }

    .category h2 {
        font-size: 1em;
    }

    .product-card {
        width: 100%;
    }

    .product-card img {
        max-width: 120px;
        height: auto;
    }

    .product-info h2 {
        font-size: 1em;
    }

    .product-info .price {
        font-size: 0.9em;
    }
}
