{% extends 'products/base.html' %}

{% load static %}

{% block content %}

<h1>Категории</h1>
<div class="categories">
    {% for category in categories %}
    <div class="category">
        <a href="{% url 'product_list' category.id %}">
            {% if category.image %}
                <img src="{{ category.image.url }}" alt="{{ category.name }}">
            {% else %}
                <img src="{% static 'products/default_category_image.png' %}" alt="{{ category.name }}">  <!-- Замените на иконку по умолчанию -->
            {% endif %}
            <h2>{{ category.name }}</h2>
        </a>
    </div>
    {% endfor %}
</div>

<!-- Пагинация -->
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; Первая</a>
            <a href="?page={{ page_obj.previous_page_number }}">Назад</a>
        {% endif %}

        <span class="current">
            Страница {{ page_obj.number }} из {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">Далее</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">Последняя &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}
