{% extends 'products/base.html' %}

{% load static %}

{% block content %}
<h1>{{ category.name }}</h1>
<a href="{% url 'category_list' %}" class="back-button">Назад</a>
<div class="products">
    {% for product in products %}
    <div class="product-card">
        <a href="{% url 'product_detail' product_id=product.id %}">
            <img src="{{ product.image.url }}" alt="{{ product.name }}">
            <div class="product-info">
                <h2>{{ product.name }}</h2>
                <p class="price">${{ product.price }}</p>
            </div>
        </a>
    </div>
    {% endfor %}
</div>

<!-- Пагинация -->
<div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
            <a href="?page={{ page_obj.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
            <a href="?page={{ page_obj.paginator.num_pages }}">last &raquo;</a>
        {% endif %}
    </span>
</div>
{% endblock %}
